/* Main */
/* -Font- */
@font-face {
  font-family: "Montserrat-Light";
  src: url(../font/Montserrat-Light.ttf);
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url(../font/Montserrat-Regular.ttf);
}

@font-face {
  font-family: "Montserrat-SemiBold";
  src: url(../font/Montserrat-SemiBold.ttf);
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url(../font/Montserrat-Bold.ttf);
}

@font-face {
  font-family: "Quicksand-Light";
  src: url(../font/Quicksand-Light.ttf);
}

@font-face {
  font-family: "Quicksand-Regular";
  src: url(../font/Quicksand-Light.ttf);
}

@font-face {
  font-family: "Quicksand-Bold";
  src: url(../font/Quicksand-Light.ttf);
}
/* -Font- */

/* -Font Text- */
.title-page {
  font-family: Montserrat-Regular;
  color: #72CC50 ;
 }

html,
body{
  font-family: Quicksand-Regular;    
}

/* -Background- */
.bg-login{
  background-color: #E5E7E9;
  padding: 15px;
}

.bg-primary {
  background: #72CC50 !important;
}

.text-color-primary {
  color: #72CC50 !important;
}

/* -Buttons- */
.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #72CC50;
  --bs-btn-border-color: #6abd4c;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #65a30d;
  --bs-btn-hover-border-color: #72CC50;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #72CC50;
  --bs-btn-active-border-color: #72CC50;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #72CC50;
  --bs-btn-disabled-border-color: #72CC50;
  box-shadow: 0px 17px 14px -9px rgba(0, 0, 0, 0.301);
}
.btn-outline-primary {
  --bs-btn-color: #72CC50;
  --bs-btn-border-color: #6abd4c;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #6abd4c;
  --bs-btn-hover-border-color: #72CC50;
  --bs-btn-focus-shadow-rgb: 13, 110, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #72CC50;
  --bs-btn-active-border-color: #72CC50;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #72CC50;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #72CC50;
  --bs-gradient: none;
  box-shadow: 0px 17px 14px -9px rgba(0, 0, 0, 0.301);
}

.btn-secondary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #A4AE9E;
  --bs-btn-border-color: #7a8275;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #70766c;
  --bs-btn-hover-border-color: #A4AE9E;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #A4AE9E;
  --bs-btn-active-border-color: #A4AE9E;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #A4AE9E;
  --bs-btn-disabled-border-color: #A4AE9E;
  box-shadow: 0px 17px 14px -9px rgba(0, 0, 0, 0.301);
}

.btn-outline-secondary {
  --bs-btn-color: #A4AE9E;
  --bs-btn-border-color: #7a8275;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #7a8275;
  --bs-btn-hover-border-color: #A4AE9E;
  --bs-btn-focus-shadow-rgb: 13, 110, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #A4AE9E;
  --bs-btn-active-border-color: #A4AE9E;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #A4AE9E;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #A4AE9E;
  --bs-gradient: none;
  box-shadow: 0px 10px 14px -9px rgba(0, 0, 0, 0.301);
}


.btn-primary:focus {
  color: white;
  background-color: #65a30d;
  border-color: #65a30d;
  box-shadow: 0 0 0 0.25rem rgba(13, 126, 28, 0.25)!important;
}

.btn-outline-primary:focus {
  color: white;
  background-color: #65a30d;
  border-color: #65a30d;
  box-shadow: 0 0 0 0.25rem rgba(13, 126, 28, 0.25)!important;
}

.btn-outline-primary:hover {
  box-shadow: 0px 30px 15px -9px rgba(0, 0, 0, 0.301);  
}
.btn-primary:hover {
  box-shadow: 0px 30px 15px -9px rgba(0, 0, 0, 0.301);  
}


.btn-secondary:focus {
  color: white;
  background-color: #7a8275;
  border-color: #7a8275;
  box-shadow: 0 0 0 0.25rem #7a82758c!important;
}

.btn-outline-secondary:focus {
  color: white;
  background-color: #7a8275;
  border-color: #7a8275;
  box-shadow: 0 0 0 0.25rem #7a82758c!important;
}

.btn-primary:hover {
  box-shadow: 0px 30px 15px -9px rgba(0, 0, 0, 0.301);  
}

.btn-outline-secondary:hover {
  box-shadow: 0px 30px 15px -9px rgba(0, 0, 0, 0.301);  
}


/* -Input- */
.box-input {
  border-radius: 100px;
}

.box-input:focus {
  border-color: #BBD04F;
}

.form-check-input:checked {
  background-color: #72CC50;
  border-color: #65a30d;
}
.form-check-input:focus {
  border-color: #72CC50;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 126, 28, 0.25)!important;
}

/* -Targets Menú- */

.btn-menu{
  box-shadow: 0px 17px 14px -9px rgba(0, 0, 0, 0.301);
  border-color: #e0e0e1;
  color: #65a30d;
}

.btn-menu:hover {
  color: white;
  background-color: #65a30d;
  border-color: #65a30d;
  box-shadow: 0px 45px 14px -9px rgba(0, 0, 0, 0.301);
}

/* -Buttons Details, Update, Delete- */

.btn-details{
  border-color: #e0e0e1af;
  color:#006DB4;
  box-shadow: 0px 17px 14px -9px rgba(0, 0, 0, 0.301);
}

.btn-details:hover{
  background-color: #006DB4;
  border-color: #006DB4;
  color:white;
  box-shadow: 0px 25px 15px -9px rgba(0, 0, 0, 0.301);  
}
.btn-details:focus{
  border-color: #006DB4;
  outline: 0;
  box-shadow: 0 0 0 0.25rem #006cb4a8!important;
}

.btn-update{
  border-color: #e0e0e1af;
  color:#BBD04F;
  box-shadow: 0px 17px 14px -9px rgba(0, 0, 0, 0.301);
}

.btn-update:hover{
  background-color: #BBD04F;
  border-color: #BBD04F;
  color:white;
  box-shadow: 0px 25px 15px -9px rgba(0, 0, 0, 0.301);  
}
.btn-update:focus{
  border-color: #BBD04F;
  outline: 0;
  box-shadow: 0 0 0 0.25rem #bbd04f96!important;
}

.btn-delete{
  border-color: #e0e0e1af;
  color:#b91c1c;
  box-shadow: 0px 17px 14px -9px rgba(0, 0, 0, 0.301);
}
.btn-delete:hover{
  background-color: #b91c1c;
  border-color: #b91c1c;
  color:white;
  box-shadow: 0px 25px 15px -9px rgba(0, 0, 0, 0.301);  
}
.btn-delete:focus{
  border-color: #b91c1c;
  outline: 0;
  box-shadow: 0 0 0 0.25rem #b91c1c94!important;
}

/* -Tables- */

.thead-style {
  
  border-color:#72CC50;
}



/* /Main */




.btn-danger {
  --bs-btn-color: #fff;
  --bs-btn-bg: #b91c1c;
  --bs-btn-border-color: #b91c1c;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #b91c1c;
  --bs-btn-hover-border-color: #b91c1c;
  --bs-btn-focus-shadow-rgb: 0 0 0 0.25rem rgba(7, 196, 213,  0.25);
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #b91c1c;
  --bs-btn-active-border-color: #b91c1c;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #b91c1c;
  --bs-btn-disabled-border-color: #b91c1c;
}

.btn-outline-danger {
  --bs-btn-color: #b91c1c;
  --bs-btn-border-color: #b91c1c;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #b91c1c;
  --bs-btn-hover-border-color: #b91c1c;
  --bs-btn-focus-shadow-rgb: 220, 53, 69;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #b91c1c;
  --bs-btn-active-border-color: #b91c1c;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #b91c1c;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #b91c1c;
  --bs-gradient: none;
}

.btn-outline-danger:focus {
  color: white;
  background-color: #b91c1c;
  border-color: #ef4444;
  box-shadow: 0 0 0 0.25rem #c3410940;
}

.btn-danger:focus {
  color: white;
  background-color: #b91c1c;
  border-color: #ef4444;
  box-shadow: 0 0 0 0.25rem #c3410940;
}

.btn-info {
  --bs-btn-color: #fff;
  --bs-btn-bg: #1e40af;
  --bs-btn-border-color: #1e40af;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #1e40af;
  --bs-btn-hover-border-color: #1e40af;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #1e40af;
  --bs-btn-active-border-color: #1e40af;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #1e40af;
  --bs-btn-disabled-border-color: #1e40af;
}

.btn-outline-info {
  --bs-btn-color: #1e40af;
  --bs-btn-border-color: #1e40af;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #1e40af;
  --bs-btn-hover-border-color: #1e40af;
  --bs-btn-focus-shadow-rgb: 220, 53, 69;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #1e40af;
  --bs-btn-active-border-color: #1e40af;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #1e40af;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #1e40af;
  --bs-gradient: none;
}

.btn-outline-info:focus {
  color: white;
  background-color: #1e40af;
  border-color: #1d4ed8;
  box-shadow: 0 0 0 0.25rem #3846de40;
}

.btn-info:focus {
  color: white;
  background-color: #1e40af;
  border-color: #1d4ed8;
  box-shadow: 0 0 0 0.25rem #3846de40;
}

.bg-nav {
  background-color: #eef0ed;
}

.text-color-nav {
  color: black;
}

.bg-card {
  background-color: #72cc50;
}

.border-card {
  border: solid black 2px;
  border-radius: 10px;
}

.btn-card {
  background-color: #004e71;
  color: white;
  border-color: white;
}

.btn-card:hover {
  background-color: #076794;
  color: white;
  border-color: white;
}

.btn-card:focus {
  color: white;
  background-color: #076794;
  border-color: #076794;
  box-shadow: 0 0 0 0.25rem #cbf7ff;
}

.btn-card-outline {
  --bs-btn-color: #004e71 !important;
  --bs-btn-border-color: #004e71 !important;
  --bs-btn-hover-color: white !important;
  --bs-btn-hover-bg: #004e71 !important;
  --bs-btn-hover-border-color: #004e71 !important;
  --bs-btn-focus-shadow-rgb: 220, 53, 69 !important;
  --bs-btn-active-color: white !important;
  --bs-btn-active-bg: #004e71 !important;
  --bs-btn-active-border-color: #004e71 !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
  --bs-btn-disabled-color: #004e71 !important;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #004e71 !important;
  --bs-gradient: none;
}

.btn-card-outline:hover {
  background-color: #076794 !important;
  color: white !important;
  border-color: white !important;
}

.btn-card-outline:focus {
  color: white !important;
  background-color: #076794 !important;
  border-color: #076794 !important;
  box-shadow: 0 0 0 0.25rem #cbf7ff !important;
}

.text-color-title {
  color: #2563eb;
}

.text-color-card {
  color: #4d7c0f;
}

.text-color-primary {
  color: #88ba31;
}

.br-box {
  background-color: white;
  border: solid white 2px;
  border-radius: 15px;
}



.mb-10 {
  margin-bottom: 100px;
}

.btn-circle.btn-md {
  width: 50px;
  height: 50px;
  padding: 6px 4px;
  border-radius: 100px;
}

.my-row {
  background: rgb(238, 236, 236);
}

.page-link {
  color: #4d7c0f !important;
}

.bg-modal-danger {
  background-color: #b91c1c;
}

.bg-modal-info {
  background-color: #1e40af;
}

.bg-soft {
  background-color: #86848413;
}

.box-search {
  border: solid 1px rgb(202, 202, 202);
  border-radius: 5px;
  padding: 7px;
}

.input-search {
  border: #fff;
}

.btn-filter {
  border: solid 1px rgb(202, 202, 202);
  border-radius: 5px;
  padding: 5px;
  width: 200px;
}
.btn-filter:active {
  background-color: #4d7c0f;
}

.box-filter {
  width: 50%;
  max-width: 250px;
  min-width: 180px;
}

.accordion {
  --bs-accordion-color: rgb(4, 99, 4);
  --bs-accordion-bg: #fff;
  --bs-accordion-transition: color 0.15s ease-in-out,
    background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
  --bs-accordion-border-color: var(--bs-border-color);
  --bs-accordion-border-width: 1px;
  --bs-accordion-border-radius: 0.375rem;
  --bs-accordion-inner-border-radius: calc(0.375rem - 1px);
  --bs-accordion-btn-padding-x: 1.25rem;
  --bs-accordion-btn-padding-y: 1rem;
  --bs-accordion-btn-color: var(--bs-body-color);
  --bs-accordion-btn-bg: var(--bs-accordion-bg);
  --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='var%28--bs-body-color%29'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  --bs-accordion-btn-icon-width: 1.25rem;
  --bs-accordion-btn-icon-transform: rotate(-180deg);
  --bs-accordion-btn-icon-transition: transform 0.2s ease-in-out;
  --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230c63e4'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  --bs-accordion-btn-focus-border-color: white;
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem white;
  --bs-accordion-body-padding-x: 1.25rem;
  --bs-accordion-body-padding-y: 1rem;
  --bs-accordion-active-color: #4d7c0f;
  --bs-accordion-active-bg: #ecfccb;
}
/* 
.table {
  --bs-table-bg: transparent;
  --bs-table-striped-color: #272420;
  --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
  --bs-table-active-color: #272420;
  --bs-table-active-bg: rgba(0, 0, 0, 0.1);
  --bs-table-hover-color: #272420;
  --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
  width: 100%;
  margin-bottom: 1rem;
  color: #272420;
  vertical-align: top;
  border-color: #dee2e6;
}
.align-middle {
  vertical-align: middle !important;
} */

.btn-maps {
  color: #ffff;
  background: #4d7c0f;
  border: #4d7c0f;
  border-radius: 5px;
}
.btn-maps:active {
  color: white;
  background-color: #84cc16;
  border-color: #88ba31;
  box-shadow: 0 0 0 0.25rem rgba(13, 126, 28, 0.25);
}

/* map */
.mapouter {
  position: relative;
  text-align: right;
  width: 100%;
  height: 532px;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  width: 100%;
  height: 532px;
}

.gmap_iframe {
  height: 532px !important;
}

/* Agrupar tabla */
tr.group,
tr.group:hover {
  background-color: #ddd !important;
}


.icon-title-color {
  color: #72cc50;
}

.bg-soft {
  background: #85f05e1b;
}

.border-green {
  /* border: solid 1px #72CC50;
   */
}

.bg-body {
  background-color: #e5e7e9;
  padding: 15px;
}

.modal-danger {
  border: solid 3px #b91c1c;
}
