/* Main */
/* -Font- */
@font-face {
  font-family: "Montserrat-Light";
  src: url(../font/Montserrat-Light.ttf);
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url(../font/Montserrat-Regular.ttf);
}

@font-face {
  font-family: "Montserrat-SemiBold";
  src: url(../font/Montserrat-SemiBold.ttf);
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url(../font/Montserrat-Bold.ttf);
}

@font-face {
  font-family: "Quicksand-Light";
  src: url(../font/Quicksand-Light.ttf);
}

@font-face {
  font-family: "Quicksand-Regular";
  src: url(../font/Quicksand-Light.ttf);
}

@font-face {
  font-family: "Quicksand-Bold";
  src: url(../font/Quicksand-Light.ttf);
}
/* -Font- */

/* -Font Text- */
.title-page {
  font-family: Montserrat-Regular;
  color: #72CC50 ;
  border-bottom: solid 2px #e5e7e972 ;
  padding: 5px;
 }

 .title-section {
  font-family: Montserrat-Regular;
  border-bottom: solid 2px #71cc5034 ;
  margin: 10px;
  padding: 5px;
 }

html,
body{
  font-family: Quicksand-Regular;    
}

/* -Background- */
.bg-nav {
  background-color: #eef0ed;
  color: black;
}

.bg-login{
  background-color: #E5E7E9;
  padding: 15px;
}

.bg-primary {
  background: #72CC50 !important;
}

.bg-soft {
  background-color: #71cc5032;
}

.bg-secondary {
  background: #A4AE9E !important;
}

.text-color-primary {
  color: #72CC50 !important;
}

.text-color-danger{
  color: #b91c1c;
}

.text-color-info{
  color: #1e40af;
}

/* -Buttons- */
.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #72CC50;
  --bs-btn-border-color: #6abd4c;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #65a30d;
  --bs-btn-hover-border-color: #72CC50;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #72CC50;
  --bs-btn-active-border-color: #72CC50;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #72CC50;
  --bs-btn-disabled-border-color: #72CC50;
  box-shadow: 0px 17px 14px -9px rgba(0, 0, 0, 0.301);
}
.btn-outline-primary {
  --bs-btn-color: #72CC50;
  --bs-btn-border-color: #6abd4c;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #6abd4c;
  --bs-btn-hover-border-color: #72CC50;
  --bs-btn-focus-shadow-rgb: 13, 110, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #72CC50;
  --bs-btn-active-border-color: #72CC50;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #72CC50;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #72CC50;
  --bs-gradient: none;
  box-shadow: 0px 17px 14px -9px rgba(0, 0, 0, 0.301);
}

.btn-secondary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #A4AE9E;
  --bs-btn-border-color: #7a8275;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #70766c;
  --bs-btn-hover-border-color: #A4AE9E;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #A4AE9E;
  --bs-btn-active-border-color: #A4AE9E;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #A4AE9E;
  --bs-btn-disabled-border-color: #A4AE9E;
  box-shadow: 0px 17px 14px -9px rgba(0, 0, 0, 0.301);
}

.btn-outline-secondary {
  --bs-btn-color: #A4AE9E;
  --bs-btn-border-color: #7a8275;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #7a8275;
  --bs-btn-hover-border-color: #A4AE9E;
  --bs-btn-focus-shadow-rgb: 13, 110, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #A4AE9E;
  --bs-btn-active-border-color: #A4AE9E;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #A4AE9E;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #A4AE9E;
  --bs-gradient: none;
  box-shadow: 0px 10px 14px -9px rgba(0, 0, 0, 0.301);
}

.btn-danger {
  --bs-btn-color: #fff;
  --bs-btn-bg: #b91c1c;
  --bs-btn-border-color: #ff0000;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #911010;
  --bs-btn-hover-border-color: #b91c1c;
  --bs-btn-focus-shadow-rgb: 0 0 0 0.25rem rgba(7, 196, 213,  0.25);
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #b91c1c;
  --bs-btn-active-border-color: #b91c1c;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #b91c1c;
  --bs-btn-disabled-border-color: #b91c1c;
  box-shadow: 0px 17px 14px -9px rgba(0, 0, 0, 0.301);
}

.btn-outline-danger {
  --bs-btn-color: #b91c1c;
  --bs-btn-border-color: #ff0000;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #b91c1c;
  --bs-btn-hover-border-color: #b91c1c;
  --bs-btn-focus-shadow-rgb: 220, 53, 69;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #b91c1c;
  --bs-btn-active-border-color: #b91c1c;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #b91c1c;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #b91c1c;
  --bs-gradient: none;
  box-shadow: 0px 10px 14px -9px rgba(0, 0, 0, 0.301);
}

.btn-info {
  --bs-btn-color: #fff;
  --bs-btn-bg: #1e40af;
  --bs-btn-border-color: #1e40af;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #1e40af;
  --bs-btn-hover-border-color: #1e40af;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #1e40af;
  --bs-btn-active-border-color: #1e40af;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #1e40af;
  --bs-btn-disabled-border-color: #1e40af;
  box-shadow: 0px 17px 14px -9px rgba(0, 0, 0, 0.301);
}

.btn-outline-info {
  --bs-btn-color: #1e40af;
  --bs-btn-border-color: #1e40af;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #1e40af;
  --bs-btn-hover-border-color: #1e40af;
  --bs-btn-focus-shadow-rgb: 220, 53, 69;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #1e40af;
  --bs-btn-active-border-color: #1e40af;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #1e40af;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #1e40af;
  --bs-gradient: none;
  box-shadow: 0px 10px 14px -9px rgba(0, 0, 0, 0.301);
}



.btn-primary:focus {
  color: white;
  background-color: #65a30d;
  border-color: #65a30d;
  box-shadow: 0 0 0 0.25rem rgba(13, 126, 28, 0.25)!important;
}

.btn-outline-primary:focus {
  color: white;
  background-color: #65a30d;
  border-color: #65a30d;
  box-shadow: 0 0 0 0.25rem rgba(13, 126, 28, 0.25)!important;
}

.btn-outline-primary:hover {
  box-shadow: 0px 30px 15px -9px rgba(0, 0, 0, 0.301);  
}
.btn-primary:hover {
  box-shadow: 0px 30px 15px -9px rgba(0, 0, 0, 0.301);  
}


.btn-secondary:focus {
  color: white;
  background-color: #7a8275;
  border-color: #7a8275;
  box-shadow: 0 0 0 0.25rem #7a82758c!important;
}

.btn-outline-secondary:focus {
  color: white;
  background-color: #7a8275;
  border-color: #7a8275;
  box-shadow: 0 0 0 0.25rem #7a82758c!important;
}

.btn-primary:hover {
  box-shadow: 0px 30px 15px -9px rgba(0, 0, 0, 0.301);  
}

.btn-outline-secondary:hover {
  box-shadow: 0px 30px 15px -9px rgba(0, 0, 0, 0.301);  
}


.btn-danger:focus {
  color: white;
  background-color: #b91c1c;
  border-color: #b91c1c;
  box-shadow: 0 0 0 0.25rem #b91c1c8c!important;
}

.btn-danger:hover {
  box-shadow: 0px 30px 15px -9px rgba(0, 0, 0, 0.301);  
}

.btn-outline-danger:hover {
  box-shadow: 0px 30px 15px -9px rgba(0, 0, 0, 0.301);  
}

.btn-info:focus {
  color: white;
  background-color: #1e40af;
  border-color: #1e40af;
  box-shadow: 0 0 0 0.25rem rgba(13, 126, 28, 0.25)!important;
}

.btn-outline-info:focus {
  color: white;
  background-color: #1e40af;
  border-color: #1e40af;
  box-shadow: 0 0 0 0.25rem rgba(13, 126, 28, 0.25)!important;
}

.btn-outline-info:hover {
  box-shadow: 0px 30px 15px -9px rgba(0, 0, 0, 0.301);  
}
.btn-info:hover {
  box-shadow: 0px 30px 15px -9px rgba(0, 0, 0, 0.301);  
}

.btn-outline-info:focus {
  color: white;
  background-color: #1e40af;
  border-color: #1e40af;
  box-shadow: 0 0 0 0.25rem #1e40af8c!important;
}

.btn-outline-info:hover {
  box-shadow: 0px 30px 15px -9px rgba(0, 0, 0, 0.301);  
}


/* -Input- */
.box-input {
  border-radius: 20px;
  border-color: #71cc5042;
  box-shadow: 0px 10px 14px -9px rgba(0, 0, 0, 0.301);
}

.box-input:focus {
  border-color: #BBD04F;
}

.form-check-input:checked {
  background-color: #72CC50;
  border-color: #65a30d;
}
.form-check-input:focus {
  border-color: #72CC50;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 126, 28, 0.25)!important;
}

/* -Targets Menú- */
.btn-menu{
  box-shadow: 0px 17px 14px -9px rgba(0, 0, 0, 0.301);
  border-color: #e0e0e1;
  color: #65a30d;
}

.btn-menu:hover {
  color: white;
  background-color: #65a30d;
  border-color: #65a30d;
  box-shadow: 0px 45px 14px -9px rgba(0, 0, 0, 0.301);
}

/* -Buttons Details, Update, Delete- */
.btn-details{
  border-color: #e0e0e1af;
  color:#1e40af;
  box-shadow: 0px 17px 14px -9px rgba(0, 0, 0, 0.301);
}

.btn-details:hover{
  background-color: #1e40af;
  border-color: #1e40af;
  color:white;
  box-shadow: 0px 25px 15px -9px rgba(0, 0, 0, 0.301);  
}
.btn-details:focus{
  border-color: #1e40af;
  outline: 0;
  box-shadow: 0 0 0 0.25rem #006cb4a8!important;
}

.btn-update{
  border-color: #e0e0e1af;
  color:#BBD04F;
  box-shadow: 0px 17px 14px -9px rgba(0, 0, 0, 0.301);
}

.btn-update:hover{
  background-color: #BBD04F;
  border-color: #BBD04F;
  color:white;
  box-shadow: 0px 25px 15px -9px rgba(0, 0, 0, 0.301);  
}
.btn-update:focus{
  border-color: #BBD04F;
  outline: 0;
  box-shadow: 0 0 0 0.25rem #bbd04f96!important;
}

.btn-delete{
  border-color: #e0e0e1af;
  color:#b91c1c;
  box-shadow: 0px 17px 14px -9px rgba(0, 0, 0, 0.301);
}
.btn-delete:hover{
  background-color: #b91c1c;
  border-color: #b91c1c;
  color:white;
  box-shadow: 0px 25px 15px -9px rgba(0, 0, 0, 0.301);  
}
.btn-delete:focus{
  border-color: #b91c1c;
  outline: 0;
  box-shadow: 0 0 0 0.25rem #b91c1c94!important;
}

.btn-pdf{
  color:#b91c1c;
}

.btn-pdf:hover{
  background-color: #ff3434;
  border-color: #ff3434;
  color:white;
}
.btn-pdf:focus{
  border-color: #ff3434;
  outline: 0;
  box-shadow: 0 0 0 0.25rem #ff7676!important;
}
/* -Tables- */
.thead-style {  
  border-color:#72CC50;
}

/* -Modales- */
.modal-danger{
  border: solid 3px #b91c1c;
}

.modal-info{
  border: solid 3px #1e40af;
}

/* /Main */

@keyframes anim{
  100% {border: solid 22px #71cc50b7;}
}
.border-time {
animation-name: anim;
animation-duration: 3s;
}